<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>08-spring</title>
</head>

<body>
	<h1>Mentoring (08-spring)</h1>

	<form action="#" th:action="@{addPerson}" th:object="${personForm}" method="post">
		<fieldset>
			<label for="firstName">First name:</label>
			<input type="text" th:field="*{firstName}" /> 
			
			<label for="lastName">Last name:</label>
			<input type="text" th:field="*{lastName}" /> 
			
			<input type="submit" name="create" value="Create" />
		</fieldset>
	</form>
</body>
</html>
